[user]
	name = toshi
	email = me@toshimaru.net
[color]
	ui = auto
[alias]
	stat = status
	st = status
	br = branch
	df = diff
	co = checkout
   	ci = commit
   	c = commit
	l = log --stat --abbrev-commit
   	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
   	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
