[user]
	name = toshi
	email = me@toshimaru.net
[color]
	ui = auto
[color "diff"]
	meta = yellow bold
[alias]
	st = status
	stat = status
	br = branch
	df = diff
	dft = difftool
	showname = show --name-only
	ad = add
	co = checkout
   	c = commit
   	ca = commit -a
	l = log --stat --abbrev-commit
   	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
   	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	spush = svn dcommit
	spull = svn rebase
	sfetch = svn fetch
	k = !gitk
