[user]
  name = toshimaru
  email = me@toshimaru.net
[color]
  ui = auto
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[alias]
  fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
  st = status -s -b
  stat = status
  br = branch
  bra = branch -a
  brd = branch -d
  df = diff
  dft = difftool
  showname = show --name-only
  pushu = push -u
  ad = add
  co = checkout
  cobrd = !CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD) && git checkout $1 && git pull && git branch -d $CURRENT_BRANCH
  c = commit --verbose
  ca = commit -a --verbose
  f = fetch
  r = remote
  rv = remote -v
  l = log --stat --abbrev-commit
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  today = log --since=midnight --author='toshi' --oneline
  ls = ls-files
  lso = !git ls-files | peco | xargs open
  rc = rebase --continue
  spush = svn dcommit
  spull = svn rebase
  sfetch = svn fetch
  k = !gitk
  # require hub command (http://hub.github.com/)
  # ci = ci-status
  # open = browse
  # open-issue = !hub browse -- pull/${1}
  # issues = browse -- issues
  # myissues = issue -a toshimaru
  # pro = !hub browse -- pull/$(git rev-parse --abbrev-ref HEAD)
  # prs = browse -- pulls
  # list-issues = !hub issue | grep -v '/pull/'
  # list-pulls = !hub issue | grep '/pull/'
[ghq]
  root = ~/src
