name: Setup
on: [push]
jobs:
  setup:
    strategy:
      matrix:
        os: [macOS-14, macOS-15]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v6
      - name: brew bundle & bundle install & serverkit apply
        run: ./serverkit-setup.bash
      - name: serverkit check
        run: bundle install && bundle exec serverkit check serverkit.yml.erb --variables=variables.yml
